<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuiteCloudBank">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="testCloudBankSelenium.TestBase"/>
      <class name="testCloudBankSelenium.LoginTest"/>
      <class name="testCloudBankSelenium.CreationFournisseurPassed"/>
       <class name="testCloudBankSelenium.ModificationFournisseur"/>
      <class name="testCloudBankSelenium.DuplicationFournisseur"/>
      <class name="testCloudBankSelenium.SuppressionFournisseur"/>
      <class name="testCloudBankSelenium.InterrogationFournisseur"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- TestSuiteCloudBank -->
